    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo" src="/images/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">

                <ul  class="nav navbar-nav navbar-right">
                  
                    <li><a ng-href="#/me"><i class="glyphicon glyphicon-th-large glyphic"></i></a></li>
                    <li><a ng-href="#/me"><i class="glyphicon glyphicon-cog glyphic"></i></a></li>
				<li><a ng-href="#"><i class="glyphicon glyphicon-bell glyphic"></i></a></li>
			    <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown"
			    href="#/calendar/{{id}}"><div class="inner-addons right-addons">
                    <img class="img-circle t plogo" src="/images/10.jpg">
				     <i class="glyphicon glyphicon-chevron-down glyphics"></i>
                        </div>
			    </a>
			       <ul class="dropdown-menu"> <li><a><i class="glyphicon glyphicon-user"></i> {{myDetails.name}}</a></li>
			      
			          <li><a ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
			       </ul> 
			  </li>
			    
                </ul>
               
            </div>
        </div>
    </div>
    <link type="text/css" rel="stylesheet" href="/css/layout.css" />
   <div class="row" style="background:white;margin-top:50px">
			
		 <div class="col-md-12">
		 <h1>
		 <span class="prev"> Time </span> 
		 
		 <span class="next"> Table  </span>
		 </h1>
		
	</div>	</div>
     <div class="row" style="margin-right: 15px; margin-left: 15px;" >
		<div >
		   <div class="space" ng-show="showWeek()"></div>
		   <daypilot-calendar id="day" daypilot-config="dayConfig" daypilot-events="events" ></daypilot-calendar>
		   <daypilot-calendar id="week" daypilot-config="weekConfig" daypilot-events="events"  ></daypilot-calendar>
		</div>
     </div>