    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo" src="/images/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
			 
                <ul  class="nav navbar-nav navbar-right">
                    <li class="listnav"><a ng-href="#/signin" class="top5">Signin</a></li>
                    <li class="listnav"><a ng-href="#/signup" class="top5">Signup</a></li>
                </ul>

               
            </div>
        </div>
    </div>

        <div class="intro-header">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
					  <div class="" style="background: transparent; width: 415px;margin: auto;display: inline-block;  min-height: 373px;    padding: 30px;    text-align: left;">
					   </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.intro-header -->
