    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo" src="/images/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">

                <ul  class="nav navbar-nav navbar-right">
                  
                    <li><a ng-href="#/me"><i class="glyphicon glyphicon-th-large glyphic"></i></a></li>
                    <li><a ng-href="#/me"><i class="glyphicon glyphicon-cog glyphic"></i></a></li>
				<li><a ng-href="#">
			     <div id="noti_Container">
			         <i class="glyphicon glyphicon-bell glyphic"></i>
			         <div class="noti_bubble">2</div>
			     </div>
				
				</a></li>
			    <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown"
			    href="#/me"><div class="inner-addons right-addons">
                    <img class="img-circle t plogo" src="/images/10.jpg">
				     <i class="glyphicon glyphicon-chevron-down glyphics"></i>
                        </div>
			    </a>
			       <ul class="dropdown-menu"> <li><a><i class="glyphicon glyphicon-user"></i> {{myDetails.name}}</a></li>
			      
			          <li><a ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
			       </ul> 
			  </li>
			    
                </ul>
               
            </div>
        </div>
    </div>
    
   <br>

    <div class="container-fluid" ng-controller='MeCtrl as panel' >
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li ng-class="{active: panel.isSelected(1) }"><a  ng-click="panel.selectTab(1)"><img src="/images/book.png" class="glyphicon"> Courses</a></li>
                    <li ng-class="{active: panel.isSelected(2) }"><a  ng-click="panel.selectTab(2);getApplication()"><img src="/images/calendar.png" class="glyphicon"> Time Table</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                

 
                <div class="row" ng-show='panel.isSelected(1)'>



<div class="well well-lg" style="max-width:1110px;background:#FCFCFC;border-radius:1px;">
	<div class="row">
    	  <div class="col-md-7"> 
		 
	    <p ng-repeat="elem in pickedcourses">
    		 <span style="float:left;width:50%;font-size:12px;text-muted" >
    		  <i class="glyphicon glyphicon-ok-circle " style="color:green"></i>
    		  <label for="{{elem.name}}">{{elem.name.substring(0, elem.name.indexOf(':'))}}:({{elem.credits}} credits) {{elem.count}}C {{elem.hours.replace(':00', '').replace(':00', '').replace(':', '.')}}h <g ng-repeat="day in elem.day">{{day.day.replace('o', '').replace('u', '').replace('d', '').replace('e', '').replace('r', '').replace('i', '').replace('n', '').replace('b', '')}}</g></label>
    		 </span> 
	   </p>
    	 </div>
	 
		
	 <div class="col-md-4" style="border-left:2px solid whitesmoke">
	  <div class="row">
	     <div class="col-md-6">
	       <span class="label label-default">Total Credits : <b style="color:whitesmoke">{{curVal}}<b></span>
          </div>
		
 	     <div class="col-md-6" style="margin-bottom:10px;">
 	      <span class="label label-default">Max Credits : <b style="color:red">{{maxVal}}<b></span> 
          </div>
		 
  	      <div class="col-md-12">
  	       <progress-bar cur-val='{{curVal}}' max-val='{{maxVal}}'></progress-bar>   <button class="btn btn-primary btn-xs"  ng-click="sendTimeTable()" ng-disabled="curVal != 15"><i class="glyphicon glyphicon-calendar"></i> Complete Time table</button> 
  	     </div>
		<div class="col-md-12">
			<i class="glyphicon glyphicon-heart" ng-repeat="elem in pickedcourses"></i>
			
		</div>
	  </div>
	 </div>

	</div>	 
	   
	      			   
</div>


                  <section id="pinBoot" >
				   
			   	
                    <article class="white-panel" ng-repeat="course in courses" ><a href  data-id='{{$index}}' a-disabled="isSelected(course)" ng-click="setMaster($index)"> <img class="img" ng-src="/images/{{course.id}}.png" alt="">
                      <h4>{{course.name}}  ({{course.credits}} credits)</h4>
                      <span class="text-muted small">{{course.count}} classes ({{course.hours.replace(':00', '').replace(':00', '').replace(':', '.')}} hours each) <br>{{course.starttime.replace('2016-01-01T', '').replace(':00', '').replace(':', '')}}-{{course.endtime.replace('2016-01-01T', '').replace(':00', '').replace(':', '')}} <g ng-repeat="day in course.day">{{day.day.replace('o', '').replace('u', '').replace('d', '').replace('e', '').replace('r', '').replace('i', '').replace('n', '').replace('b', '')}}</g></span></a>
				  <div class="btn-group" role="group" aria-label="...">
		
				    <button type="button" data-id='{{$index}}' class="left10 btn btn-default"   ng-click="resetMaster($index)" style="display:none">Cancel</button>
			
				  </div>
                    </article>
						

									

                   </section>
			    
		   	 <modal-dialog show='modalShown' width='25%' height='10%' style="color:black">
		   	      
					  
					  <div class="alert alert-warning" role="alert" ng-if="successMessage == 'false' ">
					     <p ><i class="glyphicon glyphicon-warning-sign"></i> {{errorMessage}}<p>
					  </div>
					  
					  <div class="alert alert-success" role="alert" ng-if="successMessage != 'false' ">
					     <p ><i class="glyphicon glyphicon-thumbs-up"></i> {{successMessage}}<p>
					  </div>
					  
					  
		   	 </modal-dialog>
			 
                </div>
			 
			 
                <section id="pinBoot" ng-show='panel.isSelected(2)'>
                  <article class="white-panel" ng-repeat="timeta in application track by $index" >
                    <a href=""><h3 >Complete Table{{$index+1}}</h3></a>
                    <ul class="text-muted small">
                    	<li ng-repeat="names in timeta.courses">{{names.name}}</li>
                    </ul>
			  <div class="btn-group" >
	
			    <a href="#/calendar/{{timeta.id}}" class="left10 btn btn-default" style="margin-left:50%">View</a>
		
			  </div>
                  </article>
			</section>