    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo" src="/images/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
			 
                <ul  class="nav navbar-nav navbar-right">
                    <li class="listnav"><a ng-href="#/" class="top5">Home</a></li>
                    <li class="listnav"><a ng-href="#/signup" class="top5">Signup</a></li>
                </ul>

               
            </div>
        </div>
    </div>

        <div class="intro-header">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
					  <div class="form-box">
					              <form name="loginForm" ng-submit="signin()" id="login">
					                  <div class="ttl text-muted"></div>

					                  <div class="form-main-error-wrap help-block">{{error}}</div>

					                  <div class="form-row">
					                      <div class="form-input">
					                          <span class="input-wrap input-wrap-login">
					                              <input type="email" placeholder="email or username" name="email" id="email" maxlength="100" class="inputtext" value="" ng-model="email" style="background:white" required>
					                              <input id="user_email" type="hidden" value="">
					                          </span>
					                      </div>

					                  </div>

					                  <div class="form-row">
					                      <div class="form-input">
					                           <span class="input-wrap input-wrap-password">
					                              <input style="background:white" class="inputtext" placeholder="password" name="password" type="password" class="inputtext" id="password" maxlength="20" ng-model="password" required>
					                          </span>
					                      </div>
					                  </div>

					                  <div class="form-btn">
					                      <input type="hidden" value="" name="_loginTok">
					                      <button type="submit" class="btn-login" ng-disabled="loginForm.$invalid">Login</button>
					                  </div>

					              </form>
					          </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.intro-header -->