    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo" src="/images/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
			 
                <ul  class="nav navbar-nav navbar-right">
                    <li class="listnav"><a ng-href="#/" class="top5">Home</a></li>
                    <li class="listnav"><a ng-href="#/signin" class="top5">Signin</a></li>
                </ul>

               
            </div>
        </div>
    </div>

        <div class="intro-header">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
					  <div class="form-box">
					              <form name="userForm" ng-submit="signup()" id="login" novalidate>
					                  <div class="ttl text-muted"> </div>

					                  <div class="form-main-error-wrap help-block" >{{error}}</div>
								  
				                  <div class="form-row">
				                      <div class="form-input">
								    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }"></div>
				                        <span class="input-wrap input-wrap-name">
				                              <input type="text" placeholder="name" name="name" id="name" maxlength="16" class="inputtext" value="" ng-minlength="3"  ng-maxlength="15" ng-model="user.name" style="background:white" required>
				                             
				                         </span>
									<p ng-show="userForm.name.$error.minlength" class="help-block">name is too short.</p>
									<p ng-show="userForm.name.$error.maxlength" class="help-block">name is too long.</p>
									
				                      </div>
							  </div>
											   
					                  <div class="form-row">
					                      <div class="form-input">
									  <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }"></div>
					                        <span class="input-wrap input-wrap-login">
					                              <input type="email" placeholder="email" name="email" id="email" maxlength="100" class="inputtext" value="" ng-model="user.email" style="background:white" ng-disabled="userForm.name.$invalid" required>
					                          
					                          </span>
										 <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
					                      </div>

					                 </div>

				                  <div class="form-row">
				                      <div class="form-input">
								  <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
				                       <span class="input-wrap input-wrap-password">
				                              <input  class="inputtext" placeholder="password" name="password" type="password" class="inputtext" id="password" maxlength="20" ng-model="user.password" style="background:white" ng-minlength="4"  ng-maxlength="16" ng-disabled="userForm.email.$invalid" required>
				                        </span>
								    <p ng-show="userForm.password.$error.minlength" class="help-block">password is too short.</p>
								   <p ng-show="userForm.password.$error.maxlength" class="help-block">password is too long.</p>
								
				                      </div>
				                  </div>

					            <div class="form-btn">
					                <input type="hidden" value="0eca1e880b82c2d82377d9c589cf7efc8d1f010a93aa9fcf128ba7833ecd19eb" name="_loginTok">
					                 <button type="submit" class="btn-login" ng-disabled="userForm.$invalid">Register</button>
					             </div>

					                  
					              </form>
					          </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.intro-header -->