/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #eee;
}

.logo {
    height: 48px;
    margin-top: -20px;
    width: 113px;
}

.plogo{
	width:32px;height:32px;
	margin-top: -10px;
}

img {
    vertical-align: middle;
}


/*
* Global add-ons
*/


.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.t{}

.header-v4 .white-link {
    padding: 8px;
    border-radius: 4px;
    height: 36px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: #5d5d5e;
    text-shadow: none;
}

.glyphic{color: #353535; top: -2px;font-size: 1.4em;}
.glyphics{color: #353535; top: -2px;font-size: 0.5em;}
.course-box .mask {
    background: #fff;
    color: #353535;
    display: block;
    font-size: small;
    overflow: hidden;
}


.course-box .title {
    display: block;
    line-height: 1.3;
    font-weight: bold;
    font-size: 13px;
    min-height: 33px;
    padding: 0;
    margin: 10px 10px 5px;
}

.t:hover{
	-moz-box-shadow: 0 0 10px #ccc; 
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc; 
}

.black{
	color: black;
}
.blackt{ color: rgba(0, 0, 0, 0.4);}


/*
* Sidebar
*/

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: white;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: white;
}


/*
* Main content
*/

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
* Placeholder dashboard ideas
*/

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
    font-size: 14px;
}
.placeholder {
    margin-bottom:7px;

}
.placeholder img {
    display: inline-block;
}
.mark{
	background-color:white;
	
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color:grey;
	text-decoration:none;
}

#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
.img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.white-panel {
  float:left;
  margin:0.3%; 
  display:inline;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width:215.25px;
  height:300px;

}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h4 {
  font-size: 1em;
}
.white-panel h4 a {
  color: black;
  font-size:700;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar.navbar-inverse {
  background-color: white;
  color: #ffffff;
  height:45px;
  border-top: 4px solid #17aa1c;
  border-bottom: #e7e7e7;
}
.navbar-inverse {
    background-color:  white;
}
.navbar, .navbar.navbar-default {
    background-color: white;
    color: rgba(255,255,255, 0.84);
}

/******/

.Table
   {
       display: table;
	  width: 100%;
   }
   .Title
   {
       display: table-caption;
       text-align: center;
       font-weight: bold;
       font-size: larger;
   }
   .Heading
   {
       display: table-row;
       font-weight: bold;
       text-align: center;
   }
   .Row
   {
       display: table-row;
   }
   .Cell
   {
       display: table-cell;
       width: 100px;
	  border: 1px solid #e1e1e1;
       cursor:pointer;
       min-height: 100px;
       border-right: 1px solid #e1e1e1;
       position: relative;
     
   }
   
   .cal-month-day {
       height: 40px;
   }
   .cal-month-day {
       position: relative;
       display: block;
       width: 100%;
   }
   
   
   * {
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
   }



   .nav-sidebar > .active > a {
        color: white;
        background-color: #17aa1c;
   }
   .listnav{
   	
	   border-radius: 2px; border: solid #DDDDDD 1px;
	          height: 38px; top:4px; margin:1px;
			
   }
   .top5{
	   top: -4px;
   }
   
   
   button[disabled], html input[disabled] {
       cursor: default;
       background-color: transparent;
   }
   
   
   .help-block {
	   text-align: center;
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #F6EBEA;
        background-color: #e90a0a;
        border-radius: 5px;
        
   }
   
   a{
	    cursor: pointer;
   }
   
   .navbar-nav > li > .dropdown-menu {
       margin-top: -7px;
       border-top-left-radius: 0;
       border-top-right-radius: 0;
   }
   
   .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
       color: #fff;
       background-color: whitesmoke;
	  
   }
   
   
 
   .progress-bar {
        height: 22px;
 	   width: 190px;
        margin-bottom: 2px;
        overflow: hidden;
        background-color: #f5f5f5;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1); 
   }

   .progress-bar-bar {
     width: 0px;
     background-color: #17aa1c;
     height: 100%;
     color: #fff;
     font-weight: normal;
     /*border-radius: 8px;*/
   }
   .img, .choose :hover;{
	   cursor:pointer;
   }
   
   a{
       cursor: pointer;
   }

   a{
     cursor:hand;
	text-decoration:none;
   }

   .selected-class-name {
	opacity: 0.1; cursor: not-allowed;
   }
   
 
 
   a{
       cursor: pointer;
   }

   a{
     cursor:hand;
   }
   

   a.disabled {
       color: #AAAAAA;
       opacity: 0.1; cursor: not-allowed;
       pointer-events: none;
       text-decoration: none;
   }
   .left10{
   	margin-left: -10px;
   }
   
   .btn-group > .btn:first-child {
       margin-left: -30px;
   }
   
   
   
   /********** modal **********/
   
   .ng-modal-overlay {
     /* A dark translucent div that covers the whole screen */
     position:absolute;
     z-index:9999;
     top:0;
     left:0;
     width:100%;
     height:100%;
     background-color:RGBA(251, 251, 251, 0.94);
     opacity: 0.8;
   }
   .ng-modal-dialog {
     /* A centered div above the overlay with a box shadow. */
     z-index:10000;
     position: absolute;
     width: 50%; /* Default */

     /* Center the dialog */
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);

     background-color: #fff;
     box-shadow: 4px 4px 80px #000;
   }
   .ng-modal-dialog-content {
     padding:10px;
     text-align: left;
   }
   .ng-modal-close {
     position: absolute;
     top: 3px;
     right: 5px;
     padding: 5px;
     cursor: pointer;
     font-size: 120%;
     display: inline-block;
     font-weight: bold;
     font-family: 'arial', 'sans-serif';
   }
   
 .module {
   background: 
     linear-gradient(
       rgba(0, 0, 0, 0.6),
       rgba(0, 0, 0, 0.6)
     );
   background-size: cover;
   width: 195px;
   height: 190px;
   margin: 1px 0 0 1px;
   position: relative;
   float: left;
 }
 
 
 .mid h2 {
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   color: white;
   text-transform: uppercase;
   margin: 0;
   position: absolute;
   top: 1%;
   left: 1%;
   font-size: 2rem;
   transform: translate(-50%, -50%);
   cursor:pointer;
 }
 .mid h2:hover{
	 opacity:0.2;
 }
   
 .navbar-inverse .navbar-toggle .icon-bar {
     background-color: #18DE4E;
 }
 
 .navbar-nav>li>a {
     padding-top: 15px;
     padding-bottom: 1px;
 }
 
 
.prev, .next {
    font-size: 60%;
}

h1 {
    text-align: center;
    margin: 0;
}
th {
    text-align: center;
}
table { 
    border-collapse: collapse;
    color:black;
}

td {
    border: 1px solid #ccc;

}

.coll{
	background:white;
}
table.month {
    table-layout: fixed;
    width: 100%;
    height: 600px;
    margin: auto;
}

table.month td {
    position: relative;
    vertical-align: top;
}

table.month td .date {
    font-weight: bold;
    position: absolute;
    font-size: 100px;
    bottom: -23px;
    right: 0px;
    color: grey;
    z-index: -1;
}

table.month td:hover {
    cursor: pointer;
}
table.month td:hover .date {
    color: #ccc;
}
td ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 80%;
    height: 100%;
    /*overflow: scroll;*/
}



td li {
   /* padding: 3px 10px;
    margin: 2px 0;
    background: rgba(223, 240, 216, 0.5);
    border: 1px solid rgb(223, 240, 216);*/
   
   padding: 1px 10px;
   margin: 20px 0;
   background: rgba(223, 240, 216, 0.5);
   border: 1px solid rgb(223, 240, 216);
   height: 80px;
   width: 115px;
   margin-left: 5px;
   
}

.splitView > * {
    width: 45%;
    margin: 2%;
    float: left;
}

table.day tr.highlight td.event {
    background: rgb(217, 237, 247);
    color: rgb(53, 103, 132);
}

table.day tr.highlight.hover td.event {
    background: rgb(252, 248, 227);
    color: rgb(53, 103, 132);
}

table.day td {
    padding: 4px 0;
    width: 100px;
    text-align: center;
}

table.day td.event {
    width: 500px;
}
 
.d{
	    margin: 20px;
}
 
/* notification */

body {
    font-family:Calibri;
}
#noti_Container {
    position:relative;
    width:16px;
    height:16px;
}
.noti_bubble {
     position: absolute;
     top: -5px;
     right: -3px;
     padding: 1px 2px 1px 2px;
     background-color: red;
     color: white;
     font-weight: bold;
     font-size: 0.55em;
     border-radius: 5px;
     box-shadow: 1px 1px 1px gray;
	line-height: 8px;
}


.color1{
  background-color:red;
  color:;
}

.color2{
  background-color:green;
  color:;
}


.color3{
  background-color:blue;
  color:;
}


.color4{
  background-color:black;
  color:;
}

.color5{
  background-color:white;
  color:;
}


.color6{
  background-color:rgba(91, 47, 86, 0.5);
  color:;
}

.color7{
  background-color:rgb(47, 49, 91);;
  color:;
}

.color8{
  background-color:rgb(91, 54, 47);
  color:;
}

.color9{
  background-color:rgb(47, 90, 91);
  color:;
}

.color10{
  background-color:rgb(118, 121, 40);
  color:;
}



	



