/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    margin-top: -10px;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}


.logo {
    height: 48px;
    margin-top: -20px;
    width: 113px;
}

.plogo{
	width:32px;height:32px;
	margin-top: -10px;
}

img {
    vertical-align: middle;
}


.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(./images/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}




 .form-box {
  margin: auto;
  display: inline-block;
  min-height: 373px;
  padding: 30px;
  text-align: left;
}
@media (max-width:767px) {
 .form-box {
    width: 440px;
    padding: 35px;
  }
}
.form-box .ttl {
  font-size: 20px;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 6px;
}
@media (max-width:767px) {
.form-box .ttl {
    font-size: 12px;
    margin-top: 0;
    line-height: 1;
    white-space: nowrap;
  }
}
.form-box .form-main-error {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}
.form-box .form-row {
  margin-bottom: 9px;
}
@media (max-width:767px) {
 .form-box .form-row {
    margin-bottom: 12px;
  }
}
 .form-box .form-row .input-wrap {
  display: block;
  position: relative;
}
 .form-box .form-row .input-wrap:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 5;
  width: 23px;
  height: 19px;
  background: url("https://d1k8jcz2xtbppd.cloudfront.net/web-static/images/icon_signup_email.png?r=1") no-repeat;
  top: 50%;
  left: 12px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
 .form-box .form-row .input-wrap.input-wrap-password:before {
  left: 13px;
  width: 19px;
  height: 27px;
  background-image: url("https://d1k8jcz2xtbppd.cloudfront.net/web-static/images/icon_signup_password.png?r=1");
}


 .form-box .form-row .input-wrap.input-wrap-name:before {
  left: 5px;
  width: 30px;
  height: 27px;
  background-image: url("https://www.outsourcely.com/assets/images/icon_jp.png?r=1");
}

.form-box .form-row input[type="email"],
.form-box .form-row input[type="text"],
.form-box .form-row input[type="password"] {
  background: none;
  border: solid 1px #dddddd;
  border-radius: 4px;
  font-size: 18px;
  position: relative;
  z-index: 1;
  width: 100%;
  color: #737373;
  height: 50px;
  padding: 10px 12px;
  padding-left: 44px;
  font-family: AvenirLT45Book, Arial, Helvetica, sans-serif;
}
.form-box .form-row input[type="text"]::-moz-placeholder,
.page-login .member-area-wrap .form-box .form-row input[type="password"]::-moz-placeholder {
  color: #737373;
  opacity: 1;
}
 .form-box .form-row input[type="text"]:-ms-input-placeholder,
 .form-box .form-row input[type="password"]:-ms-input-placeholder {
  color: #737373;
}
.page-login .member-area-wrap .form-box .form-row .inputtext input[type="text"]::-webkit-input-placeholder,
.page-login .member-area-wrap .form-box .form-row .inputtext input[type="password"]::-webkit-input-placeholder {
  color: #737373;
}



 .btn-login {
    padding: 0;
    width: 212px;
    height: 52px;
    line-height: 50px;
    border: solid #4da1d2 1px;
    border-radius: 4px;
    color: #4da1d2;
    background: #ffffff;
    text-align: center;
    font-size: 17px;
    font-family: AvenirLT45Book, Arial, Helvetica, sans-serif;
        margin-left: 21%;
}


.form-box {
     background: rgba(0, 0, 0, 0.33);
     border-radius: 7px;
     -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
     box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
     width: 415px;
     border: solid #DDDDDD 1px;
}

input{background:white}
.page-login .member-area-wrap .form-box .ttl {
    font-size: 20px;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 6px;
}

